@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    font-size: 10px;
}

* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: #363237;
}

body {
    margin: 0;
    background-color: #F3F3F3;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #e9e9e9;
    padding: 0 40px;
}

header {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .line {
    border-bottom: 1px solid #363237;
    width: 24vw;
}

header img {
    display: block;
    border-radius: 50%;
}

main {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: normal;
    text-align: center;
    margin: 0;
}

h2 {
    font-weight: normal;
    margin: 0;
    margin-top: 12px;
}

li {
    padding-left: 10px;
}

ul {
    margin-left: 20px;
    list-style-type: disc;
}

li:not(:last-child) {
    margin-bottom: 8px;
}

ul li:first-child {
    margin-top: 8px;
}

a {
    text-decoration: none;
    border-bottom: 1px solid #363237;
}

a:hover {
    color: #D09683;
    border-color: #D09683;
}

a:active {
    color: #73605B;
    border-color: #73605B;
}

footer {
    padding-top: 15px;
    padding-bottom: 15px;
}

footer .line {
    border-bottom: 1px solid #363237;
    width: 100%;
    margin-bottom: 20px;
}

footer ul {
    padding: 0 40px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-left: 0;
}

footer a {
    text-decoration: none;
    border: none;
}