@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    font-size: 10px;
}

* {
    margin: 0 auto;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: #363237;
}

body {
    background-color: #F3F3F3;
}

main {
    max-width: 1366px;
    padding: 150px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

img {
    display: inline-block;
    margin-bottom: 50px;
    border-radius: 50%;
}

li {
    padding-left: 10px;
}

ul {
    margin-left: 20px;
}

li:not(:last-child) {
    margin-bottom: 8px;
}

a {
    text-decoration: none;
    border-bottom: 1px solid #363237;
}

a:hover {
    color: #D09683;
    border-color: #D09683;
}

a:active {
    color: #73605B;
    border-color: #73605B;
}